@import "tailwindcss";

* {
    font-family: "Inter";
    /* font-family: "TikTok Sans"; */
    /* font-family: "Roboto"; */
}

:root {
    --dark-green: #2E7D32;
    --primary-green: #4CAF50;
    --inter: "inter";
    --demo: rgba(35, 128, 71, 0.539);
    --color-random: rgba(35, 128, 71, 0.539);
}

@layer components {
    .main {
        @apply h-screen w-full bg-gray-500
    }

    .btn1 {
        @apply cursor-pointer h-[35px] w-[80px] rounded-md bg-(--dark-green) border-[0.4px] border-[#6e6e6e] text-white
    }

    .btn2 {
        @apply cursor-pointer h-[35px] w-[80px] rounded-md bg-white border-[0.4px] border-[#4CAF50] text-black
    }

    .input {
        @apply border-[1px] border-gray-700 rounded-md
    }

    .inputContainer {
        @apply w-full
    }

    .option-icon{
        @apply text-2xl
    }
    .icon-detail{
        @apply hidden md:flex
    }
    .option-button{
        @apply flex items-center gap-3 px-4 py-2
        w-full
         hover:bg-green-800 rounded-md transition duration-200
    }
}

a {
    color: rgba(35, 128, 71, 0.539);
}